# OSX
#-------
.DS_Store

# XCode
#-------
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*/build/*
profile
*.moved-aside
DerivedData
*.hmap
*.xccheckout
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# AppCode
#-------
.idea

# Carthage
#---------
Carthage
